---
description: 'Articles on tools, technologies, processes, concepts and experiences in Software Engineering by DKP'
layout: base.njk
---
  <header class="tdbc-hero tdbc-hero--home tdbc-text-align-left">
      <div class="tdbc-container">
        <h1 class="tdbc-ink--primary tdbc-mb-none"><span class="tdbc-logo-m">D</span>KProbes
          <em class="tdbc-h3 tdbc-ink--secondary">Software Engineering life demystified</em>
        </h1>
        
        <p class="tdbc-lead tdbc-ink--gray tdbc-mt-md">
        <span class="tdbc-row">
          <span>A list of articles by <a href="https://dkpathak.me/">DKP</a></span> <a href="https://twitter.com/dkp1903/" class="tdbc-icon-button" aria-label="Twitter">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 28" aria-hidden="true">
            <path
              d="M25.312 6.375c-0.688 1-1.547 1.891-2.531 2.609 0.016 0.219 0.016 0.438 0.016 0.656 0 6.672-5.078 14.359-14.359 14.359-2.859 0-5.516-0.828-7.75-2.266 0.406 0.047 0.797 0.063 1.219 0.063 2.359 0 4.531-0.797 6.266-2.156-2.219-0.047-4.078-1.5-4.719-3.5 0.313 0.047 0.625 0.078 0.953 0.078 0.453 0 0.906-0.063 1.328-0.172-2.312-0.469-4.047-2.5-4.047-4.953v-0.063c0.672 0.375 1.453 0.609 2.281 0.641-1.359-0.906-2.25-2.453-2.25-4.203 0-0.938 0.25-1.797 0.688-2.547 2.484 3.062 6.219 5.063 10.406 5.281-0.078-0.375-0.125-0.766-0.125-1.156 0-2.781 2.25-5.047 5.047-5.047 1.453 0 2.766 0.609 3.687 1.594 1.141-0.219 2.234-0.641 3.203-1.219-0.375 1.172-1.172 2.156-2.219 2.781 1.016-0.109 2-0.391 2.906-0.781z"
            ></path>
          </svg>
        </a>
        </span>
        </p>

        <a href="/topics/" class="tdbc-button tdbc-mx-auto">Browse By Topic</a>
      </div>
  </header>
  <main class="tdbc-series-container"> 
    <ul class="tdbc-column-container">
    {%- for post in collections.sortByDate -%}
      {% if loop.index0 === 0 %}
        {% upcomingTopic post.data.episode %}
      {% endif %}
      {% if loop.index0 === 1 %}
        <li class="tdbc-card tdbc-card--text">
          <div class="tdbc-card__content tdbc-text-align-center tdbc-my-auto">
            <a href="https://smashingconf.com/online-workshops/workshops/stephanie-eckles" class="tdbc-ink--secondary tdbc-card__title">CSS Workshop</a>
            <p>Early bird registration now available for my workshop coming this July - <strong>Level-Up With Modern CSS</strong> - with Smashing Conference!</p>
            <a href="https://smashingconf.com/online-workshops/workshops/stephanie-eckles">Register Today</a>
          </div>
        </li>
      {% endif %}
      {% if loop.index0 === 3 %}
      <li class="tdbc-card tdbc-card--teaser tdbc-card--ad">
        <div class="tdbc-card__content tdbc-text-align-center">
          <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CE7I52QE&placement=moderncssdev" id="_carbonads_js"></script>
        </div>
      </li>
      {% endif %}
      {% if loop.index0 === 7 %}
        <li class="tdbc-card tdbc-card--text">
          <div class="tdbc-card__content tdbc-text-align-center tdbc-my-auto">
            <a href="https://smolcss.dev" class="tdbc-ink--secondary tdbc-card__title">SmolCSS</a>
            <p>Check out the ModernCSS companion site <strong>SmolCSS</strong> and demo minimal snippets for modern CSS layouts and components</p>
            <a href="https://smolcss.dev">Visit SmolCSS.dev</a>
          </div>
        </li>
      {% endif %}
      
      <li class="tdbc-card tdbc-episode index{{ loop.index0 + 1 }}">
        <div class="tdbc-card__content" data-episode="{{ post.data.episode }}">
          <a href="{{ post.url }}" class="tdbc-card__title"><span>{{ post.data.title }}</span></a>
          <p>{{ post.data.description | safe }}</p>
        </div>
      </li>
    {%- endfor -%}
    </ul> 
  </main>

 
{% set js %}
  {% include "peekaboo.js" %}
{% endset %}
<script>
  {{ js | jsmin | safe }}
</script>
    